.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.loader {
  width: 100px;
  height: 100px;
  position: relative;

}

.outer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-left: 5px solid red;
  border-right: 5px solid red;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-radius: 50%;
  animation: rotate 1s linear infinite;

}

.middle {
  position: absolute;
  top: 25px;
  right: 25px;
  bottom: 25px;
  left: 25px;
  border-left: 5px solid rebeccapurple;
  border-right: 5px solid rebeccapurple;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-radius: 50%;
  animation: rotate 1s linear infinite reverse;

}

.inner {
  position: absolute;
  top: 35px;
  right: 35px;
  bottom: 35px;
  left: 35px;
  border-left: 5px solid yellow;
  border-right: 5px solid yellow;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-radius: 50%;
  animation: rotate 1s linear infinite;
}

.dot {
  position: absolute;
  top: 46px;
  right: 46px;
  bottom: 46px;
  left: 46px;
  border-radius: 50%;
  background: black;

}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}